<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>

    <div class="listing_container">
      <div class="avatar_container">
        <img src={{avatar}}>
      </div>
      <div class="basic_info">
        <h1>{{name}}</h1>
        <p class="location">{{address.city}},{{address.country}} | <span class="job">{{job}}{{company}}</span></p>
        <p>{{email}} | {{phone}}</p>
      </div>
      <div class="skills_box">
        <p><span class="education">Education</span></p>
        <p><span class="skills">Skills</span></p>
      </div>
    </div>
    
  </body>
</html>
